@page "/Cities"
@using TelephoneShared.Models
@using Blazor.Data 
@inject CityService controller
<h3>Subscribe</h3>
<hr />



@if (city is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name City</th>
                <th>Talk</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var citys in city)
            {

                <tr>
                    @*--------ToDo---------*@
                    <td>@citys.IdCity</td>
                    <td>@citys.NameCity</td>
                    <td>@citys.RateAm</td>
                </tr>
            }
        </tbody>
    </table>
}
@code{

    City[] city;
    protected override async Task OnInitializedAsync()
    {
        await load();
    }
    protected async Task load()
    {
        city = await controller.GetCitysAsync();
    }
    @* protected override async Task OnInitializedAsync()
        {
            await RefreshCustomerList();
        }
        private async Task RefreshCustomerList()
        {
            city = await Http.GetJsonAsync<City[]>("/api/Cities");
            StateHasChanged();
        }
        private async Task PrintWebApiResponse()
        {
            var response = await Http.GetStringAsync("/api/Cities");
            Console.WriteLine(response);
        }*@


    @* protected override async Task OnInitializedAsync(){
            city = await Http.GetJsonAsync<City>("api/Cities");
        }*@

    @*protected override async Task OnInitializedAsync()
        {
            city = new List<City>();
        }*@

    @*protected override async Task OnInitializedAsync()
        {
            city = await cityService.GetCityAsync();
        }*@
}

