@page "/subscribe"
@using BlazorTelephone.Data
@inject ISubscribeService<Subscribe> subscribeService
@inject HttpClient Http
<h3>Subscribe</h3>
<hr />


<table class='table table-hover'>
    <thead>
        <tr>
            <th>ID</th>
            <th>NumberPhone</th>
            <th>INPP</th>
            <th>Street</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subscribe in subscribes)
        {
            <tr>
                @*--------ToDo---------*@
                <td>@subscribe</td>
                <td>@subscribe</td>
                <td>@subscribe</td>
                <td>@subscribe</td>
            </tr>
        }
    </tbody>
</table>

@code{
    private Subscribe[] subscribes;
    protected override async Task OnInitializedAsync()
    {
        subscribes = await Http.GetJsonAsync<Subscribe[]>("/api/Subscribes");
    }











}

